<!doctype html>
<html>
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
      href="/public/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <h1>Register Page</h1><p class="lead">Say something worthwhile here.</p><br>
    <form role="form" action="/create" method="post" style="max-width: 300px;">
      <div class="form-group">
        <input type="text" name="username" placeholder="Username:" class="form-control"></div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password:" class="form-control"></div>
      <div class="form-group">
        <input type="type" name="email" placeholder="Email" class="form-control"></div>
      <div class="form-group">
        <input type="text" name="sec_question" placeholder="Security Question" class="form-control"></div>
      <div class="form-group">
        <input type="text" name="sec_answer" placeholder="Security Answer" class="form-control"></div>
      <button type="submit" class="btn btn-default">Submit</button>&nbsp;<a href="/"><button type="button" class="btn btn-primary">Cancel</button></a>
    </form>
  </div>
  <hr><%= msg %>
</body>
<script src="/public/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</html>
