<!DOCTYPE html>
<html ng-app="node-playground">
<head>
    <title><%-title %></title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <script src="/public/bower_components/angularjs/angular.js"></script>
    <script src="/public/bower_components/jquery/dist/jquery.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</head>