<!doctype html>
<html>
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
      href="/public/css/bootstrap.min.css" />
</head>
<body>
  <div class="container" ng-controller="myController">
    <h1>Modify User</h1><p class="lead">Modify YOUR Profile</p>
    <form role="form" action="/user/profile/update" method="POST" style="max-width: 300px;">
      <div class="form-group">
      UserName: <br>
        <input type="text" placeholder="Username" name="username" disabled class="form-control"></div>
      <div class="form-group">
        Email Address:
        <input type="email" placeholder="Email" name="email" class="form-control" ></div>
      <div class="form-group">
        Security Question:
        <input type="text" placeholder="Security Question" name="sec_question" class="form-control"></div>
      <div class="form-group">
        Security Answer:
        <input type="text" placeholder="Security Answer" name="sec_answer" ng-model="user.sec_answer" class="form-control"></div>
      <a class="btn btn-primary btn-default" href="/user/profile/modify/" role="button">Update</a>
      <form method="POST" action="/user/delete"> <input type="submit" value="Delete User" class="btn btn-sm btn-danger">
      </div>
    </form>
  </div>
  <hr><%= msg %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script>
    $(document).ready(function(){
      $.getJSON('/user/profile/json', function(data) {
        $('input[name="username"]').val(data["username"]);
        $('input[name="email"]').val(data["email"]);
        $('input[name="sec_question"]').val(data["sec_question"]);
        $('input[name="sec_answer"]').val(data["sec_answer"]);
      });
    });
  </script>
</body>
</html>
