<% include Header.html %>
<body>
  <div class="container" ng-controller="myController">
    <h1>Modify User</h1><p class="lead">Modify YOUR Profile</p>
    <form role="form" action="/user/profile/json" method="POST" style="max-width: 300px;">
      <div class="form-group">
      UserName: <br>
        <input type="text" placeholder="Username" name="username" class="form-control"></div>
      <div class="form-group">
        Email Address:
        <input type="email" placeholder="Email" name="email" class="form-control" ></div>
      <div class="form-group">
        Security Question:
        <input type="text" placeholder="Security Question" name="sec_question" class="form-control"></div>
      <div class="form-group">
        Security Answer:
        <input type="text" placeholder="Security Answer" name="sec_answer" ng-model="user.sec_answer" class="form-control"></div>
      <input type="submit" class="btn btn-primary btn-default" role="buttom" value="Save">
      </div>
    </form>
  </div>
  <hr><%= msg %>
  <script>
    $(document).ready(function(){
      var userid = window.location.pathname.split("/");
      $.getJSON('/admin/user/<%= username %>/json', function(data) {
        $('input[name="username"]').val(data["username"]);
        $('input[name="email"]').val(data["email"]);
        $('input[name="sec_question"]').val(data["sec_question"]);
        $('input[name="sec_answer"]').val(data["sec_answer"]);
      });
    });
  </script>
</body>
</html>
